{% extends _layout %}

{% use 'menu.html.twig' %}

{% block content %}
    <script>
        var base_url='{{base_url}}';
    </script>
	<div class="container">

		<h1>
			Sub - Categorias
		</h1>
		<form action="{{base_url}}admin_subcategoria/save/" method="post" id="form_data">
			<div class="form-search">
				<label>
					Categoria
				</label>
				<select name="categoria_id" id="categoria" style="width:100%">

				</select>
			</div>
			<div class="form-search">
				<input type="hidden" name="id" id="id">
				<label>
					Nombre
				</label>
				<input type="text" name="nombre" id="nombre" style="width:100%">
			</div>
			<div class="form-search">
				<label>
					Descripcion
				</label>
				<textarea id="descripcion" name="descripcion" style="width:100%"></textarea>
                <input type="hidden" name="imagen_id" id="imagen_id">
			</div>
		</form>
		<div class="form-search">
			<label>
				Imagen
			</label>			
			<form action="{{base_url}}admin_imagen/save/" method="post" enctype="multipart/form-data" id="form_file">
				<input type="file" id="imagen" name="userfile">
				 <div id="progress">
       				<div id="bar">
       				</div>
			        <div id="percent">
			        	0%
			        </div>
				</div>
				<div id="message">
				</div>
			</form>
		</div>
		<br>
		<div class="form-search">
			<input type="submit" name="enviar" class="btn" id="enviar" value="Guardar">
			<input type="reset" name="cancelar" class="btn"  id="cancelar" value="Cancelar">
		</div>


		<div style="width:100%;" id="grilla" >
		</div>

	</div>

{% endblock %}

{% block script%}    
	<script type="text/javascript" src="{{base_url}}public/lib/jquery.form/jquery.form.js"></script>
	<script type="text/javascript" src="{{base_url}}public/js/admin/subcategorias.js"></script>
{% endblock %}
{% block css %}
<style>
	#progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
	#bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
	#percent { position:absolute; display:inline-block; top:3px; left:48%; }
</style>
{% endblock %}